body{
   background-color: #ADD8E6;
}


.text{
   background-color: #FB8B27;
  font-size: 25px;
}


th{
  background-color: #FF7F50;
 font-size: 25px;
 border: 1px solid black;
}

td{
  font-size: 20px;
  font-weight: bold;
  border: 1px solid black;
}

